.popup__container-img {
  max-width: 75%;
  max-height: 75%;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
}


@media screen and (max-width: 374px) {
  .popup__container-img {
    height: auto;
    max-height: 75vh;
    width: auto;
  }
}