.profile {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto 0;
  width: calc(100% - 400px);
}

@media screen and (max-width: 1150px) {
  .profile {
    width: calc(100% - 300px);
  }
} 

@media screen and (max-width: 1024px) {
  .profile {
    width: calc(100% - 200px);
  }
} 

@media screen and (max-width: 918px) {
  .profile {
    width: calc(100% - 38px);
  }
} 

@media screen and (max-width: 680px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }
} 
