body {
  background: #000;
}
@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__button-trash/element__button-trash.css);
@import url(./blocks/element/__button-trash/_hide/__button-trash_hide.css);
@import url(./blocks/element/__container/element__container.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__button/element__button.css);
@import url(./blocks/element/__button/_is-active/element__button_is-active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_name.css);
@import url(./blocks/popup/__input/_type/popup__input_type_description.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/_img/popup_img.css);
@import url(./blocks/popup/__contaner-img/popup__contaner-img.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__subtitle/popup__subtitle.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__error/popup__error-visible.css);
@import url(./blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);
@import url(./blocks/popup/__label/popup__label.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/element/__like-container/element__like-container.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__button/login__button.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__link/login__link.css);
@import url(./blocks/login/__text/login__text.css);
@import url(./blocks/header/__text/header__text.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__auth/header__auth.css);
@import url(./blocks/popup/__info/popup__info.css);
@import url(./blocks/popup/__message/popup__message.css);
@import url(./blocks/popup/__status/popup__status.css);